.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 200px;
  background-image: url("./components/image/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}